<div class="row">

    <div class="col-sm-8 col-md-9 main">

        <h2>Bikestation Overview <small>Choose Bikestation for more Details..</small></h2>

        <div class="alert alert-success" ng-show="bikestationSuccess || lenderSuccess">
            Success!
        </div>

        <!--<div class="alert alert-danger" ng-show="bikestationFailure || lenderFailure">-->
            <!--Failure!-->
        <!--</div>-->

        <div class="col-sm-4 col-md-3 voffset3" ng-repeat="bikestation in bikestations">
            <a href="/#/bikestations/{{bikestation.id}}" role="button" class="btn-block btn btn-info btn-lg btn-bikestation">
                {{bikestation.name}}
                <br>
                <small>Bikes: {{bikestation.numberOfAvailableBikes}} / {{bikestation.numberOfBikes}}</small>
            </a>
        </div>

    </div>

    <div class="col-sm-4 col-md-3 sidebar">


        <button class="btn-block btn btn-lg btn-success" data-toggle="modal" data-target="#saveBikeStationModal" translate="bikestations.createbutton">
            Create a new BikeStation
        </button>

        <button class="btn-block btn btn-lg btn-success" data-toggle="modal" data-target="#saveLenderModal">
            <span class="glyphicon glyphicon-user"></span> Create new Lender
        </button>

        <div class="modal fade" id="saveBikeStationModal" tabindex="-1" role="dialog" aria-labelledby="myBikeStationLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="form" role="form" novalidate
                          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                          ng-submit="create()">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title" id="myBikeStationLabel" translate="bikestations.header">Create or edit a Bike Station</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label translate="bikestations.create.name">Name</label>
                                <input type="text" class="form-control" name="name"
                                       ng-model="bikestation.name" ng-minlength=1 ng-maxlength=255 required>
                            </div>

                            <div class="form-group">
                                <label translate="bikestations.create.street">Street</label>
                                <input type="text" class="form-control" name="addressStreet"
                                       ng-model="bikestation.addressStreet" ng-minlength=1 ng-maxlength=255 required>
                            </div>

                            <div class="form-group">
                                <label translate="bikestations.create.city">City</label>
                                <input type="text" class="form-control" name="addressCity"
                                       ng-model="bikestation.addressCity" ng-minlength=1 ng-maxlength=255 required>
                            </div>

                            <div class="form-group">
                                <label translate="bikestations.create.zip">ZIP</label>
                                <input type="text" class="form-control" name="addressZip"
                                       ng-model="bikestation.addressZip" ng-minlength=1 ng-maxlength=255 required>
                            </div>

                            <div class="form-group">
                                <label translate="bikestations.create.hours">Opening Hours</label>
                                <input type="text" class="form-control" name="openingHours"
                                       ng-model="bikestation.openingHours" ng-minlength=1 ng-maxlength=255 required>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()" translate="bikestations.create.cancel">Cancel
                            </button>
                            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="bikestations.create.save">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="saveLenderModal" tabindex="-1" role="dialog" aria-labelledby="myBikeLabel"
             aria-hidden="true"  ng-controller="SignupController">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form" role="form" name="form" ng-submit="createLender()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title" id="myBikeLabel" translate="global.menu.lender.button">Create a Lender</h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label translate="global.menu.lender.name">Name</label>
                                <input type="text" class="form-control" name="tag"
                                       ng-model="lender.login" ng-minlength=1 ng-maxlength=50 required>

                                <label for="password" translate="global.menu.lender.password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="{{'global.menu.lender.passwordPlaceholder' | translate}}"
                                       ng-model="lender.password" ng-minlength="3" required="true">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()" translate="global.menu.lender.cancel">Cancel
                            </button>
                            <button type="submit" ng-disabled="editform.$invalid" class="btn btn-primary" translate="global.menu.lender.save">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>



