<div class="row">

    <div class="col-sm-8 col-md-9 main">

        <h2>{{bikestation.name}}</h2>

        <div class="col-sm-4 col-md-3 voffset3" ng-repeat="bike in bikestation.bikes" data-drag="{{!bike.rented}}" jqyoui-draggable="{index: $index, animate:true, onStart: 'startDragging(bike)'}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}">
            <div ui-ladda id="bike{{ bike.id }}" type="submit" ng-click="rent(bike)" ng-class="{'btn-warning': bike.rented, 'btn-success': !bike.rented}" class="btn btn-block btn-lg ladda-button" data-style="zoom-out">
            <span class="ladda-label">
            <p ng-if="bike.rented">
                {{bike.tag}}
                <br/>
                <small>{{bike.bikeType.type}}</small>
                <br/>
                <small><b>Rented</b></small>
            </p>
            </span>
            <span class="ladda-label">
            <p ng-if="!bike.rented">
                {{bike.tag}}
                <br/>
                <small>{{bike.bikeType.type}}</small>
                <br/>
                <small><b>Available</b></small>
            </p>
            </span>
            </div>
        </div>

    </div>

    <div class="col-sm-4 col-md-3 sidebar">


        <button class="btn-block btn btn-default" data-toggle="modal" data-target="#saveBikeStationModal">
            <span class="glyphicon glyphicon-edit"></span> Edit Bikestation
        </button>

        <button class="btn-block btn btn-danger" data-toggle="modal" data-target="#deleteBikestationModal">
            <span class="glyphicon glyphicon-remove"></span> Delete Bikestation
        </button>

        <h3 class="voffset5">Add new Bike:</h3>

        <form name="addform" class="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
              ng-submit="create()">

            <div class="form-group">
                <label class="sr-only" for="bikeTag" translate="bikestation.create.tagLabel">Bike Name/Identifier</label>
                <input type="text" placeholder="{{'bikestation.create.tagPlaceholder' | translate}}" class="form-control" name="tag"
                       ng-model="bike.tag" id="bikeTag" ng-minlength=1 ng-maxlength=255 required>

                <label class="sr-only" for="bikeTag" translate="bikestation.create.typeLabel">Bike Type</label>
                <select class="form-control voffset1" ng-model="bike.bikeType" name="Bike Type" ng-options="biketype as biketype.type for biketype in biketypes" required>
                    <option value="" selected="selected" disabled="disabled" style="display:none;" translate="bikestation.create.typeChooser">Choose...</option>
                </select>

            </div>

            <button type="submit" ng-disabled="addform.$invalid" class="btn btn-primary" translate="bikestation.create.add">Add</button>

        </form>

        <button class="btn-block btn btn-default voffset3 drag-btn" data-toggle="modal" data-target="#editBikeModal" data-drop="true" jqyoui-droppable="{onDrop: 'editDropCallback'}" data-jqyoui-options="{tolerance: 'pointer', hoverClass: 'drag-hover'}">
            <span class="glyphicon glyphicon-edit"></span> Drag Bike Here to Edit
        </button>

        <button class="btn-block btn btn-danger drag-btn" data-toggle="modal" data-drop="true" jqyoui-droppable="{onDrop: 'deleteDropCallback'}" data-jqyoui-options="{tolerance: 'pointer', hoverClass: 'drag-hover'}">
            <span class="glyphicon glyphicon-remove"></span> Drag Bike Here to Delete
        </button>


        <div class="modal fade" id="saveBikeStationModal" tabindex="-1" role="dialog" aria-labelledby="myBikeStationLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="form" role="form" novalidate
                          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                          ng-submit="editBikeStation()">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title" id="myBikeStationLabel" translate="bikestations.header">Create or edit a Bike Station</h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label translate="bikestations.create.name">Name</label>
                                <input type="text" class="form-control" name="name"
                                       ng-model="bikestation.name" ng-minlength=1 ng-maxlength=255 required>
                            </div>

                            <div class="form-group">
                                <label translate="bikestations.create.street">Street</label>
                                <input type="text" class="form-control" name="addressStreet"
                                       ng-model="bikestation.addressStreet" ng-minlength=1 ng-maxlength=255 required>
                            </div>

                            <div class="form-group">
                                <label translate="bikestations.create.city">City</label>
                                <input type="text" class="form-control" name="addressCity"
                                       ng-model="bikestation.addressCity" ng-minlength=1 ng-maxlength=255 required>
                            </div>

                            <div class="form-group">
                                <label translate="bikestations.create.zip">ZIP</label>
                                <input type="text" class="form-control" name="addressZip"
                                       ng-model="bikestation.addressZip" ng-minlength=1 ng-maxlength=255 required>
                            </div>

                            <div class="form-group">
                                <label translate="bikestations.create.hours">Opening Hours</label>
                                <input type="text" class="form-control" name="openingHours"
                                       ng-model="bikestation.openingHours" ng-minlength=1 ng-maxlength=255 required>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()" translate="bikestations.create.cancel">Cancel
                            </button>
                            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="bikestations.create.save">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteBikestationModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="deleteform" role="form" novalidate class="ng-scope ng-invalid" ng-submit="deleteBikeStation(bikestation.id)">
                        <div class="modal-body">
                            <h4>Do you really want to delete {{bikestation.name}}?</h2>
                                <div class="form-group">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editBikeModal" tabindex="-1" role="dialog" aria-labelledby="myBikeLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="editform" role="form" novalidate class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                          ng-submit="create()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title" id="myBikeLabel">Create or edit a Bike</h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label>Bike Identifier/Name</label>
                                <input type="text" class="form-control" name="tag"
                                       ng-model="editableBike.tag" ng-minlength=1 ng-maxlength=50 required>

                                <label>Bike Type</label>
                                <select class="form-control" ng-model="editableBike.bikeType" ng-options="biketype as biketype.type for biketype in biketypes">
                                </select>

                                <label>Note</label>
                                <textarea class="form-control" rows="4" name="note" ng-model="editableBike.note" required></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">Cancel
                            </button>
                            <button type="submit" ng-disabled="editform.$invalid" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>




