<div>

    <h2>BikeStations</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveBikeStationModal">
        <span class="glyphicon glyphicon-flash"></span> Create a new BikeStation
    </button>
    <div class="modal fade" id="saveBikeStationModal" tabindex="-1" role="dialog" aria-labelledby="myBikeStationLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myBikeStationLabel">Create or edit a BikeStation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="bikestation.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="bikestation.name" ng-minlength=1 ng-maxlength=255 required>
                        </div>

                        <div class="form-group">
                            <label>Street</label>
                            <input type="text" class="form-control" name="addressStreet"
                                   ng-model="bikestation.addressStreet" ng-minlength=1 ng-maxlength=255 required>
                        </div>

                        <div class="form-group">
                            <label>City</label>
                            <input type="text" class="form-control" name="addressCity"
                                   ng-model="bikestation.addressCity" ng-minlength=1 ng-maxlength=255 required>
                        </div>

                        <div class="form-group">
                            <label>ZIP</label>
                            <input type="text" class="form-control" name="addressZip"
                                   ng-model="bikestation.addressZip" ng-minlength=1 ng-maxlength=255 required>
                        </div>

                        <div class="form-group">
                            <label>Opening Hours</label>
                            <input type="text" class="form-control" name="openingHours"
                                   ng-model="bikestation.openingHours" ng-minlength=1 ng-maxlength=255 required>
                        </div>

                        <div class="form-group">
                            <label>Number Ports</label>
                            <input type="number" class="form-control" name="numberPorts"
                                   ng-model="bikestation.numberPorts" ng-minlength=1 ng-maxlength=255 required>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bikestation in bikestations">
                    <td>{{bikestation.id}}</td>
                    <td><a href="/#/bikestations/{{bikestation.id}}">{{bikestation.name}}</a></td>
                    <td>
                        <button type="submit"
                                ng-click="update(bikestation.id)"
                                class="btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(bikestation.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
